# like gitignore, copied and pasted
/node_modules
/.idea
/coverage
/.nyc_output
package-lock.json
npm-debug.log
yarn-error.log

# just for npm
/.circleci
/test
/wallaby.js
/.gitignore
/.editorconfig
/yarn.lock
/config
